@use './components/header';
@use './components/nosso-espaco';
@use './components/servicos';
@use './components/descontos';
@use './components/contatos';
@use './components/footer';

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



//https://www.figma.com/design/OCTufveMJNvpfVZg0AwAEe/Calmaria-Spa-%7C-Curso-Sass?node-id=98-1263&t=symtRtChOFE6swMz-0





